@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
  /* margin: 0px 8px 0px 8px; */
}

body {
  background-color: #fdfefd;

  scrollbar-width: thin;
  scrollbar-color: #b2b1d9 #242430;
}

::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 0.95rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: #242430;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #b2b1d9;
}

.logo {
  width: 84px;
  height: 84px;
  margin: 16px 0px 0px 48px;
  z-index: 10;

  transition: 400ms;
}

.logo:hover {
  width: 90px;
  height: 90px;
  margin: 13px -3px -3px 45px;
}

.quoteBtn {
  position: absolute;
  right: 32px;
  margin: 29px 16px 0px 0px;
  padding: 0px 16px 0px 16px;
  z-index: 9;

  background-color: black;
  border-radius: 24px;
  width: 150px;

  line-height: 42px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  transition: 400ms;
}

.quoteBtn:hover {
  background-color: #b2b1d9;
  color: black;
}

.hContainer {
  position: relative;

  height: calc(100vh - 115px);
  margin: 0px 8px 0px 8px;

  font-family: "Quicksand", sans-serif;
}

.hContainer h2 {
  transform: rotate(90deg);
  transform-origin: 0% 100%;

  position: absolute;
  top: -45px;
  left: 32px;
  z-index: 42;

  width: calc(100vh - 105px);
  line-height: 42px;

  font-size: 1.55rem;
  text-align: center;
}

.hContainer h2 a {
  margin: 0px 10px 0px 10px;

  color: black;
  text-decoration: none;

  transition: 400ms;
}

.hContainer h2 a:hover {
  color: #b2b1d9;
}

#heroImg {
  position: absolute;
  left: 10%;
  top: 10%;
  margin: auto;

  width: 80%;
  height: 80%;
  /* z-index: -1; */
}

#heroImg video {
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls {
  display: none;
}

.section {
  position: relative;
  width: calc(100vw - 0.45rem);
  left: -8px;

  font-family: "Quicksand", sans-serif;
}

.divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#aboutUs {
  background-color: black;
  height: 584px;
}

.dividerA svg {
  width: 136%;
  height: 6.3rem;
}

#aboutUs h1 {
  color: white;
  font-size: 2.1rem;
  text-align: center;
}

#whyUs {
  background-color: white;
}

#whyUs h1 {
  color: black;
  font-size: 2.1rem;
}

#whyUs p {
  margin-top: 18px;

  color: black;
}

#whyUs h4 {
  margin: 18px 0;

  color: black;
  text-align: left;
}

.contactUsBtn {
  position: absolute;
  padding: 0px 15px 0px 15px;

  background-color: black;
  border-radius: 24px;
  width: 150px;

  line-height: 42px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  transition: 400ms;
}

.contactUsBtn:hover {
  background-color: #b2b1d9;
  color: black;
}

.container .row .col .whyUsVector {
  position: absolute;
  right: -13.6px;
  padding: 0;

  height: 75vh;
  width: auto;
}

.bufferZone {
  margin-bottom: 36vh;
}

#ourServices {
  background-color: black;
}

#ourServices h1 {
  margin-bottom: 36px;

  color: white;
  font-size: 2.1rem;
  text-align: center;
}

.serviceTiles {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 16px;

  width: 100%;
  height: calc(50vh + 64px);
  background-color: #111110;
}

#ourServices .serviceTile {
  flex: 0 0 auto;

  box-sizing: content-box;
  margin: 16px 18px;
  width: 40vh;
  height: 50vh;

  border-radius: 5px;
  background-color: white;

  transition: 400ms;
}

#ourServices .serviceTile:hover {
  margin: 8px 18px 24px 18px;
}

#ourServices .serviceTiles .serviceTile h1 {
  margin: 16px;
  overflow-x: none;

  color: black;
  font-size: 1.8rem;
  text-align: center;
  white-space: normal;
}

#ourServices .serviceTiles .serviceTile img {
  margin: 16px 32px;

  width: calc(100% - 64px);
}

#ourServices .serviceTiles .serviceTile p {
  margin: 16px;
  overflow-x: none;

  color: black;
  white-space: normal;
}

#ourTeam {
  background-color: white;
}

.dividerC svg {
  width: 109%;
  height: 6.75rem;
}

#ourTeam h1 {
  color: black;
  font-size: 2.1rem;
  text-align: center;
}

.container .row .col {
  padding: 15px;
}

.container .row .col img {
  padding: 10px 20px;

  width: 100%;
  height: auto;
}

.container .row .col h4 {
  text-align: center;
}

.container .row .col h6 {
  color: #b2b1d9;
}

.container .row .col .hashtags {
  color: gray;
}

.container .row .col a {
  text-decoration: none;
}

.container .row .col a svg path {
  fill: black;

  transition: 400ms;
}

.container .row .col a svg path:hover {
  fill: #b2b1d9;
}

#quoteFrom {
  background-color: black;
}

.quoteFromInput {
}

.form-label {
  color: white;
}

.form-control {
  background-color: #111100;
  border-color: #fdfefd;
  border-radius: 18px;
}

.form-control:focus {
  background-color: #242430;

  color: #fdfefd;
}

#description {
  padding-top: 8px;

  height: 25vh;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fdfefd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

  background-color: #111100;
  border-color: #fdfefd;
  border-radius: 18px;

  color: #fdfefd;
}

.quoteFromInput .container .row .col button {
  background-color: #111100;
  border-color: #fdfefd;
  border-radius: 18px;
  width: 50%;

  color: #fdfefd;

  transition: 400ms;
}

.quoteFromInput .container .row .col button:hover {
  background-color: #b2b1d9;
  border-color: #242430;

  color: black;
}

.dividerD svg {
  width: 109%;
  height: 6.75rem;
}

#quoteFrom h1 {
  color: white;
  font-size: 2.1rem;
  text-align: center;
}

.dividerE svg {
  width: 109%;
  height: 1.75rem;
}

#footer {
  background-color: white;
}

#footer .container .row .socialMedia .container .row .col {
  padding: 5px;
}

#footer .container .row .socialMedia .container .row .col a img {
  padding: 0px;

  transition: 400ms;
}

#footer .container .row .socialMedia .container .row .col a img:hover {
  -webkit-filter: drop-shadow(2.7px 2.7px 0px #b2b1d9);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX = 2.7, OffY = 2.7, Color = '#b2b1d9')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX = 2.7, OffY = 2.7, Color = '#b2b1d9')";
}

#footer h5 {
  position: relative;
  bottom: 0px;
  margin: 25px 0px 5px 0px;

  color: black;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 978px) {
  .logo {
    margin: 8px 0px 0px 16px;
  }

  .quoteBtn {
    right: 0px;
  }

  #heroImg {
    position: absolute;
    left: 0;
    top: 0;

    width: auto;
    height: 100vh;
  }

  #heroImg video {
    margin-top: 20vh;
    width: 100%;
    height: 60vh;

    object-fit: cover;
  }

  /* 404 */

  #logo404 {
    margin: 0 0 0 8px;
  }

  .hContainer h2 {
    left: 29px;

    font-size: 2.1rem;
  }

  #aboutUs,
  #ourServices,
  #ourTeam,
  #quoteFrom {
    width: 100vw;
  }

  .section {
    position: relative;
    width: 100vw;
    left: 0px;
  }

  .divider {
    width: 100%;
  }

  .dividerA svg {
    width: 105%;
    height: 2.7rem;
  }

  .container .row .col .whyUsVector {
    right: -11.5px;

    height: 48vh;
    width: auto;
  }

  /* .bufferZone {
    margin-bottom: 5vh;
  } */

  #ourServices .serviceTiles .serviceTile h1 {
    font-size: 1.65rem;
  }

  .dividerC svg,
  .dividerD svg,
  .dividerE svg {
    width: 109%;
    height: 2.85rem;
  }

  .container .row .col {
    padding: 10px 20px;
  }

  .container .row .col img {
    padding: 10px 20px;
  }

  #footer {
    height: 80vh;
  }
}

@media screen and (max-width: 375px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    width: 84px;
    height: 84px;
    margin: 8px 0px 0px 16px;

    transition: 400ms;
  }

  .quoteBtn {
    right: 0px;
  }

  #heroImg video {
    margin-top: 30vh;
    width: 100%;
    height: 40vh;

    object-fit: cover;
  }

  /* 404 */

  #logo404 {
    margin: 0 0 0 8px;
  }

  .hContainer h2 {
    left: 29px;

    font-size: 1.5rem;
  }

  .container .row .col .whyUsVector {
    display: none;
  }

  #ourServices {
    margin-bottom: 0;
  }

  #ourServices .serviceTiles .serviceTile h1 {
    font-size: 1.2rem;
  }

  .container .row {
    display: block;
  }

  .container .row .col {
    padding: 20px 40px;
  }

  .container .row .col img {
    padding: 20px 40px;
  }

  /* #quoteFrom h1 {
    font-size: 1.2rem;
  } */

  #quoteFrom h1 {
    padding: 0px 12px;
    text-align: left;
  }

  #quoteFrom h1 br {
    display: inline-block;
  }

  .quoteFromInput .container .row .col {
    padding: 5px 40px;
  }

  .quoteFromInput .container .row .col button {
    width: 100%;
  }
}

/* 404 */

.logo404 {
  width: 84px;
  height: 84px;
  margin: 8px 0px 0px 40px;

  transition: 400ms;
}

.logo404:hover {
  width: 90px;
  height: 90px;
  margin: 5px -3px -3px 37px;
}

.Err404Img {
  margin: -10% 0 0 0;
  width: 100%;
}

.Err404 {
  position: absolute;
  top: 25%;
  margin: 5% 20vw;
  width: 60%;
  height: 60%;
}

.Err404 div {
  margin: 5px 10%;
}

.Err404 h1 {
  margin: auto;

  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.Err404 h1 a {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

.backBtn {
  position: absolute;
  margin: 5px calc(50% - 90px);
  padding: 0px 15px 0px 15px;

  background-color: black;
  border-radius: 24px;
  width: 150px;

  line-height: 42px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  transition: 400ms;
}

.backBtn:hover {
  background-color: #b2b1d9;
  color: black;
}
