@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
  /* margin: 0px 8px 0px 8px; */
}

body {
  scrollbar-width: thin;
  scrollbar-color: #b2b1d9 #242430;
}

body::-webkit-scrollbar {
  width: 0.95rem;
}

body::-webkit-scrollbar-track {
  background: #242430;
}

body::-webkit-scrollbar-thumb {
  background: #b2b1d9;
}

/* body a {
    align-self: left;
} */

.logo {
  width: 84px;
  height: 84px;
  margin: 8px 0px 0px 16px;

  transition: 400ms;
}

.logo:hover {
  /* -webkit-filter: drop-shadow(1px 1px 0px #b2b1d9); */
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX = 1, OffY = 1, Color = '#b2b1d9')"; */
  /* filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX = 1, OffY = 1, Color = '#b2b1d9')"; */

  width: 90px;
  height: 90px;
  margin: 5px -3px -3px 13px;
}

.quoteBtn {
  position: absolute;
  right: 16px;
  margin: 29px 16px 0px 0px;
  padding: 0px 16px 0px 16px;

  background-color: black;
  border-radius: 24px;
  width: 150px;

  line-height: 42px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  transition: 400ms;
}

.quoteBtn:hover {
  background-color: #b2b1d9;
}

/* .quoteBtn:hover::after {
    border-width: 1px;
    border-color: black;
} */

.hContainer {
  position: relative;

  /* height: 584px; */
  height: calc(100vh - 115px);
  margin: 0px 8px 0px 8px;

  /* border-style: dashed; */
  /* border-color: lightgray; */
  /* border-width: 1px; */

  font-family: "Quicksand", sans-serif;
}

.hContainer h2 {
  transform: rotate(90deg);
  transform-origin: 0% 100%;

  position: absolute;
  top: -63px;
  left: 29px;

  width: calc(100vh - 115px);
  line-height: 42px;

  text-align: center;
}

.hContainer h2 a {
  margin: 0px 10px 0px 10px;

  font-size: 1.65rem;
  color: black;
  text-decoration: none;

  transition: 400ms;
}

.hContainer h2 a:hover {
  color: #b2b1d9;
}

.section {
  position: relative;
  width: calc(100vw - 0.95rem);
  left: -8px;

  font-family: "Quicksand", sans-serif;
}

.divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#aboutUs {
  background-color: black;
  height: 584px;
}

.dividerA svg {
  width: 136%;
  height: 6.3rem;
}

#aboutUs h1 {
  color: white;
  font-size: 2.1rem;
  text-align: center;
}

#ourServices {
  background-color: white;
  height: 584px;
}

.dividerB svg {
  width: 124%;
  height: 7.5rem;
}

#ourServices h1 {
  color: black;
  font-size: 2.1rem;
  text-align: center;
}

#ourTeam {
  background-color: #b2b1d9;
  height: 463px;
}

.dividerC svg {
  width: 109%;
  height: 6.75rem;
}

#ourTeam h1 {
  color: black;
  font-size: 2.1rem;
  text-align: center;
}

#quoteFrom {
  background-color: white;
  height: 827px;
}

.dividerD svg {
  width: 109%;
  height: 6.75rem;
}

#quoteFrom h1 {
  color: black;
  font-size: 2.1rem;
  text-align: center;
}

@media screen and (max-width: 978px) {
  #aboutUs,
  #ourServices,
  #ourTeam,
  #quoteFrom {
    width: 100vw;
  }

  .dividerA svg {
    width: 105%;
    height: 2.7rem;
  }

  .dividerB svg {
    width: 115%;
    height: 2.4rem;
  }

  .dividerC svg {
    width: 109%;
    height: 2.85rem;
  }

  .dividerD svg {
    width: 109%;
    height: 2.85rem;
  }
}

/* 404 */

.Err404 {
  position: absolute;
  margin: calc(50vw - 25%) calc(50vw - 25%);
  width: 50%;
  height: 50%;
}

.Err404 h1 {
  margin: auto;

  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
}

.Err404 h5 {
  margin: auto;

  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  color: lightgray;
}

